html {
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
}
.app {
  background-color: red;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* padding: 0 2rem; */
}
#quote-box {
  background: #fff;
  color: red;
  width: 90%;
  max-width: 60rem;
  border-radius: 5px;
  padding: 20px 0 40px;
}
#text {
  font-size: 2rem;
  word-spacing: 0.3rem;
  padding: 30px 20px;
  text-align: center;
  font-weight: 700;
  line-height: 1.4;
}
.icon {
  margin-right: 10px;
}
#author {
  text-align: right;
  padding: 0 20px 30px 0;
  font-size: 1.5rem;
}
#new-quote {
  color: #fff;
  background: red;
  float: right;
  margin-right: 20px;
  border: none;
  font-size: 1.4rem;
  padding: 10px 20px;
  font-weight: 600;
}
#new-quote:hover {
  cursor: pointer;
  opacity: 0.8;
}
#tweet-quote {
  color: red;
  font-size: 4rem;
  margin-left: 20px;
}
i:nth-child(2) {
  margin-left: 0.5rem;
}
i:hover {
  opacity: 0.8;
}
@media screen and (min-width: 786px) {
  #quote-box {
    padding: 40px 20px;
  }
  #text {
    font-size: 2.5rem;
    font-weight: 800;
    line-height: 1.5;
  }
  #author {
    font-size: 1.6rem;
  }
}
